<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-title>ADDRESS</ion-card-title>
    </ion-card-header>
    <ion-img src="assets/contactus.jpg"></ion-img>
    <ion-card-content>
        <ion-card-subtitle><ion-icon name="call" style="color:crimson"></ion-icon>Phone: +91-80-46306666</ion-card-subtitle>   
        <ion-card-subtitle style="color:crimson"> Fax: +91-80-41466262</ion-card-subtitle>
        <ion-card-subtitle style="color:crimson"> <ion-icon name="md-mail-open"></ion-icon> e-mail:info@bhilwarainfo.com</ion-card-subtitle>
    </ion-card-content>

  
  <ion-img src="assets/company.png"></ion-img>
</ion-card>
</ion-content>

