<ion-header>
  <ion-toolbar>
    <ion-title>
      Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <ion-card-title style="color:indigo">Projects</ion-card-title>
    <ion-card-header>
    
      <ion-card-subtitle style="color:red">ANDROID PROJECTS</ion-card-subtitle>
    </ion-card-header>
  <ion-img src="assets/android.png"></ion-img>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle style="color:red">IOS PROJECTS</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="assets/ios.jpg"></ion-img>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-img src="assets/web.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle style="color:red">WEB DEVELOPER</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
</ion-content>
