<ion-header style="back-ground-color:blue">
  <ion-toolbar>
    <ion-title>
     About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/aboutus.png"></ion-img>
    <ion-card-header style="text-align:center">
    <ion-card-title style="color:red" ><h1>Our Company</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card-subtitle style="color:green">Our Group</ion-card-subtitle><br>
        <p>BIL is proud to be a part of the LNJ Bhilwara Group. LNJ is a professionally managed corporation that sets examples for each company within the group. With over 25,000 employees worldwide,
         we are one of the largest employers in India with sales in excess of 1.5 Billion. </p>   </ion-card-content>
  </ion-card>


</ion-content>
